<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humans</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


    <link rel="shortcut icon" href="{{ url_for('static', filename='img/infosec.svg') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <aside class="sidebar">
        <div class="logo-details">
            <img class="logo-img" src="{{ url_for('static', filename='img/infosec.svg') }}" alt="logoSec">
        </div>
        <div class="separator"></div>

        <ul class="nav-links">
            <li class="categories-item">
                <a href="{{ url_for('index') }}" class="dropdown-btn">
                    <img src="{{ url_for('static', filename='img/dashboard.svg') }}" alt="dashboards icon">
                    <span class="link_name">Dashboards</span>
                </a>
            </li>
            <li class="categories-item">
                <div class="iocn-link">
                    <a href="{{ url_for('mrot') }}" class="dropdown-btn">
                        <img src="{{ url_for('static', filename='img/mrot.svg') }}" alt="mrot icon">
                        <span class="link_name">Mrot</span>
                    </a>
                    <img src="{{ url_for('static', filename='img/Dropdown.svg') }}" class="arrow" alt="Dropdown">
                </div>
            </li>
            <li class="categories-item showMenu">
                <div class="iocn-link dropdown-active">
                    <a href="{{ url_for('octo') }}" class="dropdown-btn">
                        <img src="{{ url_for('static', filename='img/octo.svg') }}" alt="OCTO icon">
                        <span class="link_name">OCTO</span>
                    </a>
                    <img src="{{ url_for('static', filename='img/Dropdown.svg') }}" class="arrow" alt="Dropdown">
                </div>
                <ul class="sub-menu">
                    <li>
                        <button class="tablinks" onclick="openTab(event, 'OCTO_Sender')" id="OCTO_defaultOpen">Sender</button>
                    </li>
                    <li>
                        <button class="tablinks" onclick="openTab(event, 'OCTO_Receiver')" id="OCTO_Tab_Receiver">Receiver</button>
                    </li>
                </ul>
            </li>
            <li class="categories-item">
                <div class="iocn-link">
                    <a href="{{ url_for('p2p') }}" class="dropdown-btn">
                        <img src="{{ url_for('static', filename='img/p2p.svg') }}" alt="P2P icon">
                        <span class="link_name">P2P</span>
                    </a>
                    <img src="{{ url_for('static', filename='img/Dropdown.svg') }}" class="arrow" alt="Dropdown">
                </div>
            </li>
            <li class="categories-item">
                <div class="iocn-link">
                    <a href="{{ url_for('bank') }}" class="dropdown-btn">
                        <img src="{{ url_for('static', filename='img/bank.svg') }}" alt="Bank icon">
                        <span class="link_name">Bank</span>
                    </a>
                    <img src="{{ url_for('static', filename='img/Dropdown.svg') }}" class="arrow" alt="Dropdown">
                </div>
            </li>
        </ul>
    </aside>

    <section class="home-section">
        <div class="home-content">
            <img class="close-menu" src="{{ url_for('static', filename='img/Drag.svg') }}" alt="open menu">
            <div class="logos">
                <img class="logo-img" src="{{ url_for('static', filename='img/LOGO.svg') }}" alt="logoHumans">
            </div>
        </div>
        <div class="main">
            <div class="main-text">
                <h2 class="main-title">Welcome</h2>
                <p class="main-desk">We are on a mission to help automate your work.</p>
            </div>
        </div>

        <div class="content">
            <div id="OCTO_Sender" class="tabcontent">
                <div class="tab-name">
                    <h3 class="content-title">Sender</h3>
                    <div class="sort_tab">
                        <button class="sort_tablinks sort_defaultOpen" onclick="openSort(event, 'Sender_Week')" id="Sender_defaultOpen">Week</button>
                        <div class="sep"></div>
                        <button class="sort_tablinks" onclick="openSort(event, 'Sender_Month')">Month</button>
                        <div class="sep"></div>
                        <button class="sort_tablinks" onclick="openSort(event, 'Sender_From')" id="Sender_D_From">
                            <label for="From">
                                From
                                <input type="date" id="sender_From" name="date_from">
                            </label>
                            <label for="To">
                                To
                                <input type="date" id="sender_To" name="date_to">
                            </label>
                            <input type="submit" value="" id="sender_search" onclick="OCTO_Sender();" class="sort_tablinks_search" required>
                        </button>
                    </div>
                    <a class="download_btn" href="{{url_for('download')}}">Download
                        <img src="{{ url_for('static', filename='img/download.svg') }}" class="download" alt="download">
                    </a>
                </div>

                <div id="Sender_Week" class="sort_tabcontent">
                    <div class="table-wrapper">
                        <table class="octoSenderWeek">
                            <thead>
                                <tr>
                                    <th>CARD</th>
                                    <th>COUNT</th>
                                    <th>AMOUNT</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div id="Sender_Month" class="sort_tabcontent">
                    <div class="table-wrapper">
                        <table class="octoSenderMonth">
                            <thead>
                                <tr>
                                    <th>CARD</th>
                                    <th>COUNT</th>
                                    <th>AMOUNT</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div id="Sender_From" class="sort_tabcontent">
                    <div class="table-wrapper">
                        <table class="octoSenderFrom">
                            <thead>
                                <tr>
                                    <th>CARD</th>
                                    <th>COUNT</th>
                                    <th>AMOUNT</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <div id="OCTO_Receiver" class="tabcontent">
                <div class="tab-name">
                    <h3 class="content-title">Receiver</h3>
                    <div class="sort_tab">
                        <button class="sort_tablinks" onclick="openSort(event, 'Receiver_Week')" id="Receiver_defaultOpen">Week</button>
                        <div class="sep"></div>
                        <button class="sort_tablinks" onclick="openSort(event, 'Receiver_Month')">Month</button>
                        <div class="sep"></div>
                        <button class="sort_tablinks" onclick="openSort(event, 'Receiver_From')" id="Receiver_D_From">
                            <label for="From">
                                From
                                <input type="date" id="receiver_From" name="date_from">
                            </label>
                            <label for="To">
                                To
                                <input type="date" id="receiver_To" name="date_to">
                            </label>
                            <input type="submit" value="" id="receiver_search" onclick="OCTO_Receiver()" class="sort_tablinks_search" required>
                        </button>
                    </div>
                    <a class="download_btn" href="{{url_for('download')}}">Download
                        <img src="{{ url_for('static', filename='img/download.svg') }}" class="download" alt="download">
                    </a>
                </div>

                <div id="Receiver_Week" class="sort_tabcontent">
                    <div class="table-wrapper">
                        <table class="octoReceiverWeek">
                            <thead>
                                <tr>
                                    <th>NUMBER</th>
                                    <th>COUNT</th>
                                    <th>AMOUNT</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div id="Receiver_Month" class="sort_tabcontent">
                    <div class="table-wrapper">
                        <table class="octoReceiverMonth">
                            <thead>
                                <tr>
                                    <th>NUMBER</th>
                                    <th>COUNT</th>
                                    <th>AMOUNT</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div id="Receiver_From" class="sort_tabcontent">
                    <div class="table-wrapper">
                        <table class="octoReceiverFrom">
                            <thead>
                                <tr>
                                    <th>NUMBER</th>
                                    <th>COUNT</th>
                                    <th>AMOUNT</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-info">© <span class="copyright_Date"></span> Zhidko Ulyana</div>
        </footer>
    </section>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/back.js') }}"></script>
    <script>
        octo_table_from_back({{sender_week | safe}}, {{sender_month | safe}}, {{sender_search | safe}}, {{receiver_week | safe}}, {{receiver_month | safe}}, {{receiver_search | safe}}, {{tab | safe}});
    </script>
</body>

</html>