<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humans</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


    <link rel="shortcut icon" href="{{ url_for('static', filename='img/infosec.svg') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <aside class="sidebar">
        <div class="logo-details">
            <img class="logo-img" src="{{ url_for('static', filename='img/infosec.svg') }}" alt="logoSec">
        </div>
        <div class="separator"></div>

        <ul class="nav-links">
            <li class="categories-item">
                <a href="{{ url_for('index') }}" class="dropdown-btn">
                    <img src="{{ url_for('static', filename='img/dashboard.svg') }}" alt="dashboards icon">
                    <span class="link_name">Dashboards</span>
                </a>
            </li>
            <li class="categories-item">
                <div class="iocn-link">
                    <a href="{{ url_for('mrot') }}" class="dropdown-btn">
                        <img src="{{ url_for('static', filename='img/mrot.svg') }}" alt="mrot icon">
                        <span class="link_name">Mrot</span>
                    </a>
                    <img src="{{ url_for('static', filename='img/Dropdown.svg') }}" class="arrow" alt="Dropdown">
                </div>
                <ul class="sub-menu">
                    <li>
                        <button class="tablinks" onclick="openTab(event, 'Mrot_Month')">Month</button>
                    </li>
                    <li>
                        <button class="tablinks" onclick="openTab(event, 'Mrot_Week')">Week</button>
                    </li>
                    <li>
                        <button class="tablinks" onclick="openTab(event, 'Mrot_Day')">Day</button>
                    </li>
                </ul>
            </li>
            <li class="categories-item">
                <div class="iocn-link">
                    <a href="{{ url_for('octo') }}" class="dropdown-btn">
                        <img src="{{ url_for('static', filename='img/octo.svg') }}" alt="OCTO icon">
                        <span class="link_name">OCTO</span>
                    </a>
                    <img src="{{ url_for('static', filename='img/Dropdown.svg') }}" class="arrow" alt="Dropdown">
                </div>
                <ul class="sub-menu">
                    <li>
                        <button class="tablinks" onclick="openTab(event, 'OCTO_Sender')">Sender</button>
                    </li>
                    <li>
                        <button class="tablinks" onclick="openTab(event, 'OCTO_Reciever')">Reciever</button>
                    </li>
                </ul>
            </li>
            <li class="categories-item">
                <div class="iocn-link">
                    <a href="{{ url_for('p2p') }}" class="dropdown-btn">
                        <img src="{{ url_for('static', filename='img/p2p.svg') }}" alt="P2P icon">
                        <span class="link_name">P2P</span>
                    </a>
                    <img src="{{ url_for('static', filename='img/Dropdown.svg') }}" class="arrow" alt="Dropdown">
                </div>
                <ul class="sub-menu">
                    <li>
                        <button class="tablinks" onclick="openTab(event, 'P2P_Country')">Country</button>
                    </li>
                    <li>
                        <button class="tablinks" onclick="openTab(event, 'P2P_Pinfl')">Pinfl</button>
                    </li>
                    <li>
                        <button class="tablinks" onclick="openTab(event, 'P2P_TT')">P2P to TT</button>
                    </li>
                </ul>
            </li>
            <li class="categories-item showMenu">
                <div class="iocn-link dropdown-active">
                    <a href="{{ url_for('offshore') }}" class="dropdown-btn">
                        <img src="{{ url_for('static', filename='img/offshore.svg') }}" alt="Offshore icon">
                        <span class="link_name">Offshore</span>
                    </a>
                    <img src="{{ url_for('static', filename='img/Dropdown.svg') }}" class="arrow" alt="Dropdown">
                </div>
                <ul class="sub-menu">
                    <li>
                        <button class="tablinks" onclick="openTab(event, 'Offshore_Cyprus')" id="Offshore_defaultOpen">Cyprus</button>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>

    <section class="home-section">
        <div class="home-content">
            <img class="close-menu" src="{{ url_for('static', filename='img/Drag.svg') }}" alt="open menu">
            <div class="logos">
                <img class="logo-img" src="{{ url_for('static', filename='img/LOGO.svg') }}" alt="logoHumans">
            </div>
        </div>
        <div class="main">
            <div class="main-text">
                <h2 class="main-title">Welcome</h2>
                <p class="main-desk">We are on a mission to help developers.</p>
            </div>
        </div>

        <div class="content">
            <div id="Offshore_Cyprus" class="tabcontent">
                <div class="tab-name">
                    <h3 class="content-title">Country</h3>
                    <div class="sort_tab">
                        <button class="sort_tablinks sort_defaultOpen" onclick="openSort(event, 'Cyprus_Week')" id="Cyprus_defaultOpen">Week</button>
                        <div class="sep"></div>
                        <button class="sort_tablinks" onclick="openSort(event, 'Cyprus_Month')">Month</button>
                        <div class="sep"></div>
                        <button class="sort_tablinks" onclick="openSort(event, 'Cyprus_From')" id="Cyprus_D_From">
                            <label for="From">
                                From
                                <input type="date" id="offshore_Cyprus_From" name="date_from">
                            </label>
                            <label for="To">
                                To
                                <input type="date" id="offshore_Cyprus_To" name="date_to">
                            </label>
                            <input type="sabmit" value="" id="offshore_Cyprus_search" onclick="Offshore_Cyprus()" class="sort_tablinks_search" required>
                        </button>
                    </div>
                    <p class="content-date">DATE: Sep 01, 2022</p>
                </div>

                <div id="Cyprus_Week" class="sort_tabcontent">
                    <div class="table-wrapper">
                        <table class="offshoreCyprusWeek">
                            <thead>
                                <tr>
                                    <th>PERSON</th>
                                    <th>BIRTHDAY</th>
                                    <th>PASSPORT</th>
                                    <th>OPERATION DATE</th>
                                    <th>AMOUNT</th>
                                    <th>COUNTRY</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div id="Cyprus_Month" class="sort_tabcontent">
                    <div class="table-wrapper">
                        <table class="offshoreCyprusMonth">
                            <thead>
                                <tr>
                                    <th>PERSON</th>
                                    <th>BIRTHDAY</th>
                                    <th>PASSPORT</th>
                                    <th>OPERATION DATE</th>
                                    <th>AMOUNT</th>
                                    <th>COUNTRY</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div id="Cyprus_From" class="sort_tabcontent">
                    <div class="table-wrapper">
                        <table class="offshoreCyprusFrom">
                            <thead>
                                <tr>
                                    <th>PERSON</th>
                                    <th>BIRTHDAY</th>
                                    <th>PASSPORT</th>
                                    <th>OPERATION DATE</th>
                                    <th>AMOUNT</th>
                                    <th>COUNTRY</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-info">© <span class="copyright_Date"></span> Zhidko Ulyana</div>
        </footer>
    </section>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/back.js') }}"></script>
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
    <script>
        offshore_table_from_back({{cyprus_week | safe}}, {{cyprus_month | safe}}, {{cyprus_search | safe}}, {{tab | safe}});
    </script>

</body>

</html>